<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "[spaceflight.jemenexjosiah.edu.mic.scratch ]"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>[spaceflight]<name>

    <description>
        An app made using Scratch, GitHub, and PhoneGap.
    </have fun guys hope you like it>

    <author href="http://scratch.mit.edu/users/[jemenexjosiah]" email="[scgross@centurylink.net]">
        [jemenexjosiah]
    </author>

</widget>
